*{
    margin:0;
    padding:0;
  }
  
  h1{
    font-family:arial;
    font-weight: normal;
    font-size:25px;
    color:rgba(0,0,0,0.7)
  }
  
  .cab img{
    height:25px;
  }
  
  .cab{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:10px 30px;
    
  }
 
  body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#471a9b
  }
  
  .content{
    background:linear-gradient(45deg,blue,pink,yellow);
    width:700px;
    height:250px;
    border-radius:10px
  }
  .contador{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:50%;
  }
  .contador .botao{
    padding:15px;
    font-size:15px;
    font-family:arial;
    color:rgba(100,100,100,0.7);
    outline:none;
    border:none;
    border-radius:10px;
    width:150px;
  }
  .res{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right:24px;
    
  }
  .res .calculo{
    margin-right:20px;
    padding:20px;
    background:#9b51e0;
    border:none;
    border-radius:5px;
    font-size:15px;
    font-family:arial;
    font-weight:550;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
  }
  .resultado .calculo:hover{
    background:rgba(155,70,224)
  }